<script src="assets/movies.js"></script>
<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table border="1" cellpadding="10">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Genre</th>
      <th>Average Rating</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.description %></td>
        <td><%= movie.genre_name %></td>
        <td>
          <% if user_signed_in? %>
          <%= form_tag ratings_path do %> 
            <div id="<%= movie.id%>" data-score=<%= score(movie.id) %>>
            <%= movie.avg_rating %>
            </div>
          <% end %>
          <% else %>
             <%=  average_rating(movie)%>
          <% end %>
        </td>
  
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%== pagy_bootstrap_nav(@pagy)%>
<%= link_to 'New Movie', new_movie_path %>
<script type="text/javascript">
   $(function(){
  let url = window.location.search.split("=")
  let page = 1
  if (url[1]) {
    page = url[1]
  }
   $("document").ready(function(event){
      let rate;
       $.get("movies.json?page="+ page).success(function(json){
          for (var i = 0; i < json.length; i++) {
            console.log(json)
            $('#star-rating-'+ json[i].id).data("ids", json[i].id )
            $('#'+ json[i].id).raty({
              path: '/assets/',
              scoreName: 'rating'
            });
            $('#'+ json[i].id).click(function(e) {
                rate = this.children.rating.value;
                $.ajax({
                  type: "POST",
                  url: "/ratings",
                  data: {"rating" : {"rating": rate,"movie_id": this.id}},
                });
            });

            
          }
       });
       
   });
 });
</script>