<script src="assets/movies.js"></script>
<p id="notice"><%= notice %></p>
<h1>Movies</h1>

<table border="1" cellpadding="10">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Genre</th>
      <th>Average Rating</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.description %></td>
        <td><%= movie.genre_name %></td>
        <td>
          <% if user_signed_in? %>
          <%= form_tag ratings_path do %> 
            <div id="<%= movie.id%>" data-score=<%= score(movie.id) %>>
            <%= movie.avg_rating %>
            </div>
          <% end %>
          <% else %>
             <%=  average_rating(movie)%> (Login to Rate)
          <% end %>
        </td>
        <td><%= link_to 'Show', movie %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_bootstrap_nav(@pagy)%>
<br>